/* Font  */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Components */
@import url(header.css);

@import url(buttons.css);
/* Reset Css */
*{
    font-family: "Source Code Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}

.container {
    width: 1024px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}